*{
  font-family: 'Poppins', sans-serif;
}
.my-card{
  border: none;
}
.my-card-footer{
  background-color: white;
  border: none;
}
.categories img{
  width: 100px;
}
.my-slide{
  background-color: #fceae8;
  border-radius: 1em;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #000000;
  padding: 30px;
  border-radius: 50%;
}