* {
	margin: 0;
	padding: 0;
}
main {
	width: 1200px;
	max-width: 90%;
	margin: auto;
}
.top-players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 20px;
}
.player {
	display: flex;
	align-items: center;
}
.player img {
	height: 50px;
	margin-right: 20px;
}

/* Mobile and Media Quary */
@media (max-width: 992px) {
	.top-players {
		padding: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
}
